* {
    font-size: 20px;
}

header {
    width: 100%;
    text-align: center;
    flex-direction: column;
}
h1{
    font-size: 250%;
    padding: 10px;
    background-color: red;
}

ul {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: grey;
}

li {
    text-decoration: underline;
    text-underline-offset: 5px;
    padding: 15px;
}

header a {
    font-size: 125%;
    /* Change color of links here */
}

/* Jumbotron CSS */

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/iceberg\ waterfall.jpg);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
}

main {
    display: flex;
    flex-direction: column;
    
}
main h2 {
    font-size: 150%;
    border-bottom: solid;
    margin: 20px;
}

main p {
    margin: 0px 20px;
    text-indent: 10%;
    line-height: 1.5;
}

.figure {
    display: flex;
    flex-direction: column;
}

.figure h2 {
    font-size: 150%;
    border-bottom: solid;
    margin: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container a {
    height: 100%;
}

.container section img {
    width: 100%;
}

img {
    position: inherit;
    height: 300px;
    object-position: center;
    object-fit: cover;
}

.img1, .img2, .img3 {
    flex: 0 0 90%;
    margin: 8px;
}

figcaption {
    position: relative;
}

.img1 h3 {
    position: absolute;
    bottom: -0%;
    left: 17%;
    margin-bottom: 10%;
    font-size: 150%;
}

.img2 h3 {
    position: absolute;
    bottom: -0%;
    left: 17%;
    margin-bottom: 10%;
    font-size: 150%;
}

.img3 h3 {
    position: absolute;
    bottom: -0%;
    left: 17%;
    margin-bottom: 10%;
    font-size: 150%;
}