* {
    font-size: 20px;
}

:root {
    --light: #BDDBED;
    --dark: #09446D;
    --highlight: lightgreen;
}

body {
    background-color: var(--light);
}

header {
    width: 100%;
    text-align: center;
    flex-direction: column;
}
h1{
    font-size: 250%;
    padding: 10px;
    background-color: var(--dark);
    color: var(--light);
}

nav ul {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}

li {
    text-decoration: underline;
    text-underline-offset: 5px;
    padding: 15px;
}

header a {
    font-size: 125%;
    /* Change color of links here */
    color: var(--dark);
}

    /* Jumbotron CSS */

.hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../images/iceberg\ waterfall.jpg);
    height: 250px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.hero h2 {
    font-size: 250%;
    text-align: center;
    margin-bottom: 20px;
    color: var(--highlight);
    text-shadow: 2px 2px var(--dark);
}

.hero img {
    display: none;
}

    /* About me */

main {
    display: flex;
    flex-direction: column;
    
}

main img {
    position: inherit;
    height: 450px;
    object-position: center;
}

main h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
}

main p {
    margin: 0px 20px;
    text-indent: 10%;
    line-height: 1.5;
    color: var(--dark);
}

    /* work layout adjustments */

.figure {
    display: flex;
    flex-direction: column;
}

.figure h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container section img {
    border: solid var(--dark);
}

.container a {
    height: 100%;
}

.container section img {
    width: 100%;
}

    /* image and caption adjustments */

img {
    position: inherit;
    height: 300px;
    object-position: center;
    object-fit: cover;
}

.img1, .img2, .img3, .img4, .img5 {
    flex: 0 0 90%;
    margin: 8px;
}

figcaption {
    position: relative;
}

.container h3 {
    position: absolute;
    bottom: -0%;
    left: 17%;
    margin-bottom: 10%;
    font-size: 150%;
    color: var(--light);
    text-shadow: -1px 3px var(--dark);
    padding: 8px;
}

    /* footer */

footer h2 {
    font-size: 200%;
    border-bottom: solid var(--dark);
    margin: 20px;
    color: var(--dark);
}
footer {
    padding-bottom: 20px;
}

footer li {
    margin-left: 8px;
    color: var(--dark);
}

    /*--------- Media queries for Medium size/tablet -------------------------------------------------- */

@media screen and (min-width: 576px) {
    .hero h2 {
        text-align: right;
        padding-right: 10px;
        margin-left: 50px;
    }

    .hero img {
        display: block;
        height: 250px;
    }

    main img {
        display: none;
    }

    #main-img {
        height: 400px;
    }

    .img1 {
        flex: 0 0 91%;
    }

    .img2, .img3, .img4, .img5 {
        flex: 0 0 45%
    }

    footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    footer li {
        flex-grow: 1;
    }
}

@media screen and (min-width: 992px) {
    header {
        height: 130px;
        background-color: var(--light);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    header h1 {
        margin-top: 0px;
        padding-left: 20px;
    }

    header ul {
        margin-right: 20px;
    }

    .hero {
        padding-right: 20px;
    }

    /* About me section */

    main {
        flex-direction: row;
        margin: 20px 0px;
    }
    
    main h2 {
        border-right: solid var(--dark);
        padding-right: 10px;
        padding-left: 29px;
        border-bottom: hidden;
        text-align: right;
    }
    
    /* work section */
    
    .figure {
        flex-direction: row;
        margin: 30px 0px;
    }
    
    .figure h2 {
        border-right: solid var(--dark);
        padding-left: 46px;
        padding-right: 9.5px;
        border-bottom: hidden;    
        text-align: right;
    }

    /* footer */

    footer {
        display: flex;
    }

    footer h2 {
        border-right: solid var(--dark);
        padding-right: 10px;
        border-bottom: hidden;
        text-align: right;
        margin-left: -1.35%;
        left: 10px;
    }

    footer ul {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1400px) {
    main div {
        display: flex;
        flex-direction: row;
    }
}